body {
  background-color: #f2f2f2;
  margin: 0;
}

img {
  border: 0;
}

#container {
  min-width: 960px;
  position: relative;
  padding-top: 10px;
  margin-left: 40px;
  padding-bottom: 50px;
}

#group-name {
  text-align: center;
  font-family: 'Smythe', 'Garamond', 'Georgia', serif;
  font-size: 64px;
  font-weight: normal;
  margin: 15px 0px;
}

#nav-links {
  display: block;
  text-align: center;
  color: #8e240b;
  font-size: 24px;
  margin-bottom: 30px;
}

#nav-links #meetup-link {
  margin-top: 8px;
  font-size: 16px;
}

#nav-links a {
  font-family: 'Georgia', serif;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dotted #8e240b;
  padding: 0px 1px;
  color: #8e240b;
}

#sponsors a {
  font-family: 'Georgia', serif;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dotted #8e240b;
  color: #8e240b;
}

#sponsors .gold-container a {
  border: 0;
}

#sponsors .silver-container p {
  margin: 10px 0px 0px 0px;
}

#sponsors .sponsor-type {
  padding-top: 10px;
}

#nav-links a:hover, #sponsors a:hover {
  border-bottom: 1px solid #8e240b;
}

#nav-links a:visited, #sponsors a:visited {
  color: #8e240b;
}

#content {
  width: 535px;
  margin: 0 auto;
  text-align: justify;
  font-family: 'Georgia', serif;
  font-size: 18px;
  min-height: 250px;
}

#sponsors {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 120px;
  text-align: left;
  font-family: 'Georgia', serif;
  color: #484848;
  font-size: 13px;
}

#submit-btn {
  display: block;
  float: right;
  width: 75px;
  font-size: 20px;
}

.input label {
  display: block;
}

.input input, .input textarea{
  width: 500px;
  margin-bottom: 10px;
  font-size: 18px;
}

.required {
  font-weight: bold;
  color: #8E240B;
}

