<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title>Indy Software Artisans</title>
</head>
<body>
  <div id="container">
  	<h1 id="group-name">Indy Software Artisans</h1>

  	<nav id="nav-links" markdown="1">
  	  <a href="/">mission</a> |
  	  <a href="/when.html">when &amp; where</a> |
      <a href="/upcoming.html">upcoming</a> |
  	  <a href="/history.html">history</a> 
  	</nav>

    <div id="content">
  	 {{ content }}
  	</div>
  </div>
</body>
</html>