<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Smythe' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title>Indy Software Artisans</title>
</head>
<body class="{{ page.ref }}">
  <div id="container">
  	<h1 id="group-name">Indy Software Artisans</h1>

  	<nav id="nav-links" markdown="1">
  	  <a href="/">mission</a> |
  	  <a href="/when.html">when &amp; where</a> |
      <a href="/upcoming.html">upcoming</a> |
  	  <a href="/archives.html">archives</a>
	  <div id="meetup-link">
	    <a href="https://www.meetup.com/indysa/" target="_blank">meetup site &amp; contact info</a>
	  </div>
  	</nav>

    <div id="content">
  	 {{ content }}
  	</div>
  </div>
  <div id="sponsors">
    <div class="silver-container">
      <p class="sponsor-type">Thanks to Our Sponsors:</p>
      <p><a href="http://www.sep.com/" title="SEP"><img src="/static/sep-logo.png"/></a><div>for meeting space</div></p>
      <p><a href="http://www.auri.net/">Auri Rahimzadeh</a><div>for pizza</div></p>
      <p><a href="http://www.oreilly.com/" title="O'Reilly Media"><img src="/static/oreilly-logo.jpg"/></a><div>for e-books</div></p>
      <p><a href="https://www.pluralsight.com/" title="Pluralsight"><img src="/static/pluralsight-logo.jpg"/></a><div>for training</div></p>
    </div>
  </div>
  
  <script type='text/javascript' src='//code.jquery.com/jquery-1.11.3.min.js'></script>
  <script type='text/javascript' src='/static/site.js'></script>
</body>
</html>
